body {
  margin: 0;
  background-color: aqua;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  text-align: center;
}
.wrapper {
  padding-top: 5rem;
  margin: 0 auto;
  width: 600px;
}

.todo__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.todo__input {
  margin-right: 1rem;
}

.todo__form {
  text-align: center;
}
.todo__btm {
  background-color: red;
  border-radius: 50%;
  color: #fff;
  border: none;
}

.todo__done {
  text-decoration: line-through;
}

.todo__text {
  text-align: center;
}
